*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05102B;
    height: 100vh;
}
section{
    text-align: center;
}
section p{
    margin: 0;
}
#myCanvas{
    border: 5px solid #9DA4FF;
    box-shadow: 0 0 5px 0 #9DA4FF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#myScore{
    /* margin-top: 1rem; */
}

#myScore, #myScore2 {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}

#start{
    padding: 1rem;
    border-radius: 30px;
    background-color: yellow;
    font-size: 1.15rem;
    box-shadow: 0 0 5px 0 yellow;
    margin-top: 1rem;
}
#start:hover{
    background-color: #FFF385;
}

@media only screen and (max-width: 414px){
    #myCanvas{
        margin-top: 110px;
    }
}